@import "variables";
@import "reset";
@import "fonts";

#root {
  height: 100%;
  > div {
    height: 100%;
    > div {
      height: 100%;
    }
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "nexa", sans-serif;
  color: $base-color;
  font-size: $font-size-base;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  &.scroll {
    position: relative;
  }
}

body,
html {
  width: 100%;
}

p {
  font-weight: 200;
  padding-right: 1rem;
  padding-left: 1rem;
  line-height: 1.4;
}

h1 {
  text-align: center;
}

button {
  outline: none;
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-size: 1.4em;
}

main {
  height: calc(100% - 9rem);
  > section {
    height: 100%;
  }
}

header {
  height: 3.125rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .left,
  .right {
    position: absolute;
    line-height: 3.125rem;
  }
  .left {
    left: $padding;
  }
  .right {
    right: $padding;
    font-weight: bold;
    font-size: $font-size-header;
  }
  .back {
    background: #fff url(../images/back.svg) no-repeat left;
    background-size: 1em;
    width: 1em;
    overflow: hidden;
    text-indent: -5em;
  }
  h1 {
    font-size: $font-size-header;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.theme-list {
  height: 70vh;
  margin: 0 $margin;
  position: relative;
  height: calc(100% - 2.063em);
  li {
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: $border-radius;
    overflow: hidden;
    transform-origin: 50% 200%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    &.left {
      background-image: url("../images/no.svg");
      border: 4px solid $red-color;
    }
    &.right {
      background-image: url("../images/yes.svg");
      border: 4px solid $green-color;
    }
    &.reject {
      transition: all 300ms ease;
      .theme-item {
        transition: opacity 300ms ease;
      }
    }
    &.hidden {
      display: none;
    }
    &.hidden-delay {
      opacity: 0;
      transition: opacity 300ms ease 300ms;
    }
  }
}

.theme-item {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: $padding;
  position: relative;
  h2,
  h3 {
    font-size: $font-size-h1;
    font-weight: bold;
    color: #fff;
    margin-right: 1rem;
  }
  &:after {
    z-index: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  h2,
  h3 {
    z-index: 10;
    font-size: $font-size-h1;
    font-weight: bold;
    color: #fff;
    position: relative;
    margin-right: 1rem;
  }
  span {
    z-index: 10;
    position: relative;
    color: #fff;
    font-size: 1em;
    display: block;
  }
  img {
    width: 1.2rem;
    margin-right: 0.5rem;
    transform: translateY(0.2rem);
  }
  .info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 3.125rem $margin;
    padding: $double-padding $padding $padding;
    border-radius: $border-radius;
    text-align: center;
    max-height: 12em;
    overflow: hidden;
    background: $white-color url("../images/down.svg") no-repeat center 1em;
    transition: max-height 0.4s ease-in-out;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 80%
      );
      transition: opacity 300ms ease;
    }
    &.collapsed {
      max-height: 5em;
      background: $white-color url("../images/up.svg") no-repeat center 1em;
      &:after {
        opacity: 1;
      }
    }
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.action-button {
  position: relative;
  display: block;
  height: $button-height;
  line-height: $button-height;
  text-align: center;
  border: none;
  background: $gold-color;
  font-weight: bold;
  color: #fff;
  font-size: $font-size-button;
  text-transform: uppercase;
  margin: $margin;
  border-radius: $border-radius;
  &.pop span {
    animation: pop 300ms ease;
  }
  span {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateX(6rem);
    height: 1.375rem;
    width: 1.375rem;
    font-size: 0.7em;
    color: $white-color;
    background: $base-color;
    border-radius: 50%;
    line-height: 1.375rem;
  }
  &:hover {
    color: transparent;
  }
}

.detail-page {
  margin: 1rem;
  img {
    margin: auto;
    display: block;
  }
}

.themes-list-selected {
  display: flex;
  flex-wrap: wrap;
  .theme-item {
    width: 100%;
    margin: 0;
    height: 44vw;
    &:first-of-type {
      margin-left: 0;
    }
  }
}

.detail-description {
  padding-top: 2em;
  p {
    padding: 10px;
  }
}

.start {
  text-align: center;
}

.like-footer {
  z-index: 20;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -1.875rem $double-margin $margin;
}

.round-button {
  height: $button-circle;
  width: $button-circle;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: $border-radius-circle;
  border: none;
  &.small {
    height: $button-circle-small;
    width: $button-circle-small;
  }
  &.like {
    background: #fff url(../images/yes.svg) no-repeat center;
    background-size: 2.5em;
  }
  &.undo {
    background: #fff url(../images/rewind.svg) no-repeat center;
    transform: matrix(0, 0, 0, 0, 0, 0);
  }
  &.dislike {
    background: #fff url(../images/no.svg) no-repeat center;
    background-size: 2.5em;
  }
}

.intro-text {
  width: 70vw;
  margin: 1rem auto;
  text-align: center;
}
.tours {
  height: calc(100% - 4.375rem);
  border-radius: $border-radius;
  margin: 0 $margin;
  position: relative;
  background: url(../images/vincent.jpg);
  background-size: cover;
  ul {
    position: absolute;
    bottom: 0;
    width: 100%;
    li {
      position: relative;
      margin: $margin;
    }
  }
  a {
    display: block;
    padding: $padding;
    background: #fff;
    text-transform: uppercase;
    color: $base-color;
    border-radius: $border-radius;
    position: relative;
    font-weight: bold;
  }
  span {
    width: 20px;
    background: url(../images/up.svg) no-repeat;
    height: 10px;
    display: inline-block;
    transform: rotate(90deg);
    position: absolute;
    right: $padding;
    bottom: 1.4375rem;
  }
}

.introduction {
  display: flex;
  height: calc(100% - 9rem);
  border-radius: $border-radius;
  margin: 0 $margin;
  position: relative;
  background: url(../images/introduction-bg.jpg);
  background-size: cover;
  article {
    text-align: center;
    padding: $padding;
    margin: auto $margin;
    background: $white-color;
    border-radius: $border-radius;
    width: 100%;
    p {
      padding: 0 $padding;
      line-height: 1.4em;
    }
  }
  h1 {
    padding-bottom: 10px;
    font-weight: bold;
  }
}

.buttonStart {
  text-align: center;
  display: block;
  text-align: center;
  background: $gold-color;
  margin: $margin;
  padding: $padding;
  border-radius: $border-radius;
  color: $white-color;
  text-transform: uppercase;
  font-weight: bold;
}

.overview {
  margin: 0 $margin;
  ul {
    margin-top: 30px;
  }
  li {
    position: relative;
    color: $white-color;
    background: black;
    display: flex;
    margin: $margin 0;
    flex-direction: row;
    justify-content: space-between;
    border-radius: $border-radius;
    padding: 1.25rem;
    margin-right: 1.25rem;

    p {
      padding-left: 0;
      padding-top: 1.25rem;
    }
    img {
      padding-top: 5px;
      width: 20px;
      height: 20px;
    }
  }
  button {
    background: white;
    background-repeat: no-repeat;
    background-position: center center;
    width: 2rem;
    height: 2rem;
    padding: 2rem;
    outline: none;
    border-radius: 2rem;
    position: absolute;
    right: -30px;
    top: 19px;
    outline: none;
    border: none;
    box-shadow: $box-shadow;
  }
  .yes-img {
    background-image: url("../images/yes.svg");
  }
  .no-img {
    background-image: url("../images/no.svg");
  }
  h1 {
    margin: $margin 0;
    text-align: left;
    font-size: 35px;
    font-weight: bold;
  }
  input {
    position: absolute;
    left: -99999px;
  }
  form {
    margin: $margin 0;
  }
  label {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: $margin;
    margin-bottom: $margin;
    &.selected {
      padding-bottom: 5px;
      border-bottom: 7px solid $gold-color;
    }
  }
}
