$base-color: #3C3C3C;
$white-color: #FFF;
$red-color: #DD9293;
$green-color: #9CBB85;
$gold-color: #D0BF80;
$purple-color: #A482FF;

$border-radius: 0.5rem;
$border-radius-circle: 50%;
$button-height: 3.750rem;
$button-circle: 4.063rem;
$button-circle-small: 3.125rem;

$font-size-header: 0.875rem;
$font-size-h1: 2.188rem;
$font-size-base: 1rem;
$font-size-button: 1.125rem;

$padding: 1.250rem;
$margin: 1.250rem;
$double-margin: 2.5rem;
$double-padding: 2.5rem;

$box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);